body {
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: "Helvetica";
}

:root {
    --background-clg: #cdc1ff;
    --primary-clg: #e5d9f2;
    --secondary-clg: #a594f9;
    --third-clg: #f5efff;
    --third-clg-greener: #bff3b3;
    --fourth-clg: rgb(164, 220, 90);
    --fifth-clg: #d2e0fb;
    --sixth-clg: #E5E1DA;
}

.skeleton {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    opacity: 0.1;
    margin-right: 5px;
    min-width: 50px;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, gray, white 50%, gray);
        animation: skeleton 2s infinite alternate;
        z-index: 99;
    }
    &::before {
        background-color: white;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
    }
}

@keyframes skeleton {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}